
.tab{
    grid-column-end:span 4;
    display:flex;
    flex-direction:row;
    align-items:center;
    box-shadow: 0px 0px 10px 1px grey;
    }
    #content1{
        display:none;
        background-color:white;
        flex-direction:column;
        align-items:center;
        position:absolute;
        overflow:hidden;
        box-shadow: 0px 0px 10px 1px rgb(209, 200, 200);
        top:0;
        right:0;
        padding-bottom:20px;
    }
    .tab>p{
    width:75%;
    margin-left:1%
    }
    .tab>span{
    width:25%}
    .tab>span>img{
    width:100%;
    height:auto;
    }
    #navbar>img{width:130px;height:40px;}
    .content>*{padding:21px 30px;user-select:none;}
    .but{
    display:inline-table;
    position:relative;}
    .nav-collapse{
    display:none;
    }
    
    .content{
    
    color:chocolate;
        flex-direction:row-reverse;
        align-items:center;}
    #navbar{
        flex-direction:row;
        align-items:center;
        position:fixed;
        display:table;
        background-color: rgba(255,255,255,1);
        box-shadow: 0px 2px 10px 0.5px grey;
    }
    #navbar,.content,#header{
        grid-column:1/span 11;
        display:flex;
        height:60px;
        width:100%;
    }
    #content1>*{
    padding:20px;
    }
    body{
        margin:0px;
        display:grid;
        grid-gap:5px;
        grid-template-columns:auto auto;
    }
    #navbar>.content>a:hover:not(.active),#content1>a:hover:not(.active){
        color:white;
        background:linear-gradient(30deg,rgb(82, 139, 224),rgb(218, 49, 147));
        box-shadow: 0px 0px 10px 0.3px rgba(10,10,10,0.3);
        }  
    #content1>a{
    user-select:none;
    text-align:center;
        width:100%;
    }	
    .active{
        color:white;
        background:rgba(9, 120, 134,0.6);
        box-shadow: 0px 0px 10px 0.3px rgba(10,10,10,0.3);
    }  
    .footer{
        grid-column-end:span 12;
        min-width:100%;
        flex-wrap:wrap;
      padding-right:5px ;
        background-color: rgb(16, 49, 121);
        box-shadow: 0px -2px 10px 0.5px grey;
        display:flex;
        flex-direction: row;
        flex-flow:row-reverse;
        align-items: center;
    }
    .footer>div{
        flex:4;
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        float:left; 
        height:100%;
        justify-items: center;
    }
    .footer>div>span{ 
        background-color: rgb(10, 110, 204);
        color:rgb(239, 240, 247);
        font-weight:800;
        !box-shadow:0px 1px 5px 0.1px rgba(10,10,10,0.3); 
        text-align:left;
        display:block;
        padding:10px 10px;
        padding-right:30px;
        width:fit-content;
    }
    .footer>div>span>ul{
        margin-left:10px;
        padding:0px 20px;
        padding-right: 0px;
        width:100%;
        list-style-type: circle;
    }.footer>form{
        padding:0px 20px;
        display:flex;
        min-height:88px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer>form>div{
        display:flex;
        flex-direction: row;
    }
    .footer>form>div>input{
        border-radius:1px;
        flex:2;
        !padding:5px 0px;
        text-align:center;
        border-color: paleturquoise;
        outline: none;
        border:none;
        box-shadow:0px 0px 10px 1px grey;
        z-index:1;
    }
    .footer>form>div>button{
        border-radius:3px;
        border:none;
        flex:1;
        !padding:5px;
        background-color: palegreen;
        border-color: paleturquoise;
        outline: none;
        float:right;
        box-shadow:0px 0px 10px 1px grey;
    }
    .footer>form>span{
        padding-bottom:10px;
        text-align:center;
        color:white;
        flex:span 1;
        border-radius:5px;
        width:100%;
        border-color: paleturquoise;
        outline: none;
    }
    .footer>div>*,.footer>form>*{
        flex:1;
    }
    .footer>img{
        padding-right:10px;
    }
    @media screen and (max-width:865px){
        .footer{
            flex-direction: column;
            flex-flow:column-reverse;
        }
        .footer>*{flex:1;}
        .nav-collapse:active>#content1 , #content1:hover {
        display:flex;
        }
        .tab{
        grid-column-end:span 6;
        }
        .nav-collapse{
        display:inline-block;
        }
        .but{
        
        width:21px;
        max-height:21px;
        height:21px;
        
        }
        #content1:hover>.close:active{
        display:none;
        }
        .close{
        
        width:90%;
        max-height:21px;
        height:21px;
        
        }
        #navbar>.content>a{
        display:none;
        }
    }
    @media screen and (max-width:545px){
        .tab{
            grid-column:1/span 11;
            
            }
    }